.path .h-title {
  text-align: center;
  color: #515e3b;
  background: #caf0f8;
  border-radius: 3rem;
  width: 50%;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.hard {
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  padding: 30px;
}
.hardware {
  background-image: url(../imgs/hard.jpg);
}
.software {
  background-color: #5a6077;
}
.path .article {
  background: #fff;
  padding: 2%;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
}
.navbar {
  position: sticky;
}
